html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{font-family:Helvetica, "Microsoft YaHei", sans-serif;margin:0 auto;max-width:620px;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a{background-color:transparent}
	a:active,a:hover{outline:0}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding:0 10px;float:left;}
.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}
.full-screen-loading {position:fixed;top:0;left:0;width: 100%;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-box-align:center;text-align:center;height:100%;background: rgba(0,0,0,.5);z-index:99;}
.full-screen-loading>p{color:#fff;font-size:16px;line-height:2em;}
header {position:fixed;top:0;left:0;width:100%;font-size:18px;height:42px;line-height:42px;text-align:center;background:#fff;z-index:100;border:1px solid #dddddd;}
header>a {position:absolute;left:0px;top:0;font-size:28px;line-height:42px;color:#000;padding:0 15px;font-family:sans-serif;display:block;}
.body {width:100%; height:100%;}
.head-body {margin-top:42px;}
.star>i {color:#f89406;font-size:14px;}
	.fa {color:#f89406;font-size:14px;}
	.star-1>i:before {content: "\f006";}
	.star-1>i:first-child:before {content: "\f005";}
	.star-1f>i:before {content: "\f006";}
	.star-1f>i:first-child:before {content: "\f005";}
	.star-1f>i:nth-child(2):before {content: "\f123";}
	.star-2>i:before {content: "\f006";}
	.star-2>i:first-child:before {content: "\f005";}
	.star-2>i:nth-child(2):before {content: "\f005";}
	.star-2f>i:before {content: "\f006";}
	.star-2f>i:first-child:before {content: "\f005";}
	.star-2f>i:nth-child(2):before {content: "\f005";}
	.star-2f>i:nth-child(3):before {content: "\f123";}
	.star-3>i:before {content: "\f006";}
	.star-3>i:first-child:before {content: "\f005";}
	.star-3>i:nth-child(2):before {content: "\f005";}
	.star-3>i:nth-child(3):before {content: "\f005";}
	.star-3f>i:before {content: "\f006";}
	.star-3f>i:first-child:before {content: "\f005";}
	.star-3f>i:nth-child(2):before {content: "\f005";}
	.star-3f>i:nth-child(3):before {content: "\f005";}
	.star-3f>i:nth-child(4):before {content: "\f123";}
	.star-4>i:before {content: "\f005";}
	.star-4>i:last-child:before {content: "\f006";}
	.star-4f>i:before {content: "\f005";}
	.star-4f>i:last-child:before {content: "\f006";}
	.star-4f>i:nth-child(5):before {content: "\f123";}
	.star-5>i:before {content: "\f005";}
.mt-5 {margin-top:5px;}

@media (max-width:321px){
.hidden-321 {display:none;}
}

.ui-btn-red {background:#ff5640;color:#fff;}
.ui-list{margin-bottom: 10px;}
.mt-10 {margin-top: 10px;}
.mb-0 {margin-bottom: 0px;}
.mb-10 {margin-bottom: 10px;}
.md-58 {margin-bottom: 58px;}
.hclear {height:1px;margin:0!important;overflow:hidden;}
.text-center {text-align:center;}
.pull-left {float: left;}
.pull-right {float: right;}

footer {position:fixed;left:0;bottom:0;background:url(../img/footbgb.png);width:100%;height:48px;overflow:hidden;}
.ui-btn-red {background:#ff5640;color:#fff;}

.ui-tab-nav li {min-width: 60px;}
.ui-scroller,.ui-scroller-hos ,.ui-scroller-list  {width:auto;height:90%;overflow:hidden;}
.ui-scroller>ul>li,.ui-scroller-hos>ul>li,.ui-scroller-list>ul>li { padding:10px 5px 66px 5px;}
.tab-top {top:0;position:absolute;}
.ui-tab-content {margin-top:45px;height:100%}
.ui-tab {background:#fff;position:relative;width: 100%;height:68%;overflow: hidden;}
.ui-tab-content{
	display: -webkit-box;
	width: 300%;
 }
.ui-tab-content > li {
	-webkit-box-flex: 1;
	width: 100%;
	height: 100%;
}
.ui-tab .row {margin: 0 10px;padding-top:10px;}
.ui-tab .ui-scroller .col-xs-3 {padding:0 5px;}
.ui-tab .thumbnail {border:0;margin-bottom:10px;}
.ui-tab .thumbnail h5 span,.ui-tab .thumbnail h5 font {font-size:14px; width:100%; display:block; text-align:center; line-height:1.6em;}
.ui-tab .thumbnail h5 span {color:#008de6}
.ui-tab .thumbnail h5 font {color:#999;font-size:12px;}
.textapp {margin-top:5px;font-size:12px;line-height:17px;color:#fff;padding-left:5%;}
.btn.mt-5 {padding: 6px 20%;}

.nav_tuan {height:45px;background:#fff;position:relative;}
.nav_tuan .ui-tab-nav li.current {color: #000;border-bottom: 2px #e60012 solid;}
.tuan_list .ui-list {background:none;}
.tuan_list .ui-list>li {margin:10px 0 0 0;background:#fff;position:relative;}
	.aggressive {position:absolute;top:0; right:0;background:url(../img/aggressivebg.png) no-repeat;width:80px;padding-left:24px;height:24px;line-height:24px;text-align:center;color:#fff;}
	.ui-list-img {margin:10px 15px; width:100px; height:100px; overflow:hidden;}
	.ui-list-img img {width:100%;}
	.ui-list-info {padding:10px 18px 10px 0;-webkit-box-pack:start;}
	.ui-list-info>h5 {font-size:12px;line-height: 20px;margin-bottom:4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 78%; color: gray;}
	.ui-list-info>h4 {line-height:24px;color:#333; height:48px;margin-bottom:4px;white-space:pre-wrap;-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;}
	.ui-list-info>p {text-align:right;color:#333;}
	.ui-list-info>p .real {color:#e60012;font-size:16px; margin-right:8px;}
	.ui-list-info>p .generic {color:gray;}

.login {height:auto;padding:20px 0;}
.login>div,.login>p {background:#fff;}
.login .ui-form-item input:not([type=checkbox]){padding-left:0;}
.login p {padding:0 15px; height:45px;}
.login p a {padding:2px 10px;}
.reg {padding:20px 0;}
.reg .ui-form-item input:not([type=checkbox]){padding-left:130px;}
.reg .ui-form-item label:not(.ui-switch):not(.ui-checkout):not(.ui-radio) {width:120px; text-align:center;}
.reg .ui-form-item input.nopadding {padding-left:0;}
.reg .ui-form-item .resand {background:#ccc;color:#fff;}
.reg .ui-form-item .resandred {color:#e60012;}
.reg .ui-list-text {padding:0 15px;margin-top:20px;}
.reg .ui-list-text a {margin:0 4px;}
.reged p {line-height:2em;}
.reged .userid {font-size:20px; color:#e60012;}

.goods-head {}
	.goods-head .ui-slider {padding-top:100%;z-index:0;}
	.ui-slider-content {width:200%;}
	.goods-head .ui-slider-content>li>img {width:100%;}

.free-buy {padding:10px 0;}
.free-buy .ui-form-item label:not(.ui-switch):not(.ui-checkout):not(.ui-radio) {width: 80px;color:#808080;}
.free-buy .ui-form-item p {width: 100%;padding-left: 80px;-webkit-box-sizing: border-box;box-sizing: border-box;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.free-buy .ui-form-item p span {color:#e60012}
.free-buy .ui-form-item input:not([type=checkbox]) {padding-left:80px;}
.free-buy .title {color:#808080;padding:0 15px;}
.free-buy .payfa>li>label {line-height:20px;margin:0;width:100%;display:block;color:#808080;position:relative;}
.free-buy .payfa>li>label>input {float:right;margin-top:10px;}
.free-buy .payfa>li>label>input:before,.free-buy .payfa>li>label>input:after {webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.free-buy .payfa>li>label font {color:#e60012;margin:0 4px;}
.free-buy .payfa>li>label>span {float:right;margin-right:10px;}
.free-buy .payfa>li>label i {width:20px;height:20px;display:block;position:absolute;top:0;left:0;}
.free-buy .payfa>li>.weixin {padding-left:8%;}
.free-buy .payfa>li>.weixin i {background:url(../img/weixin.png) no-repeat;background-size:cover;}
.free-buy .price {position: relative;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),to(#e0e0e0));width: 100%;line-height: 50px;height: 48px;text-align: center;font-size: 16px;border-top: 1px solid #c8c7cc;border-right: 1px #c8c7cc solid;-webkit-box-flex: 1;box-sizing: border-box;}
.free-buy .price b {color:#e60012;font-weight:400;}
.free-buy .ui-btn-group-bottom button {color:#fff;background:#ff6a55;font-weight:500;font-size:16px;font-family:"Microsoft YaHei";letter-spacing:0.2em}
.ui-number .decrease, .ui-number .increase {font-style: normal;font-size:16px;vertical-align:top;font-weight:500;width:22px;-webkit-user-select: none;background-color: #efeff4;color: #999;height: 22px; line-height: 22px;margin-top:10px;webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.ui-number .decrease {margin-right:10px;}
.ui-number .increase {margin-left:10px;}
.ui-number>a {display: inline-block;border: 1px solid #ddd;text-align: center;border-radius:2px;}
.free-buy .ui-form-item .ui-number .num {margin:0;padding:0;border:0;line-height:24px;width:auto;text-align:center;color:#e60012;}
.ui-number .disabled {background-color: #FFF;color: #E1E1E1;cursor: not-allowed;}

.payfor .ui-notice {width:100%;height:30%;position: relative;top:10px;background:#fff;overflow:hidden;}
.payfor .ui-notice h2 {color:#e60012;font-size:24px; line-height:42px;}
.payfor .paytxt {margin:10px 0;padding:10px 0;}
.payfor .ui-form-item {height:auto}
.payfor .ui-form-item label:not(.ui-switch):not(.ui-checkout):not(.ui-radio) {width: 80px;color:#808080;}
.payfor .ui-form-item p {width: 100%;padding-left: 80px;-webkit-box-sizing: border-box;box-sizing: border-box;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.payfor .ui-form-item p span {color:#e60012}
.payfor .ui-form-item input:not([type=checkbox]) {padding-left:80px;}

.home .ui-notice {width:100%;height:38%;overflow:hidden;background-image:url(../img/home_bg.png);background-size:cover;position:relative;margin-bottom:10px;z-index:10;}
.home .ui-notice img {width:52px;height:52px;border:2px solid #fff;-webkit-border-radius:50%;border-radius:50%;}
.home .ui-notice p {color:#fff;margin:8px 0;}
.home .ui-list {margin-bottom:10px;}
.home .ui-list li>.list-right {position:absolute;right:30px;top:12px;}
.home .ui-list li>.font-right {margin-right:-20px;}
.home .ui-list li span {color:#808080;font-size:14px; margin-left:6px;}
.home .ui-list li span b {font-weight:normal;color:#e60012}
.home .col-xs-3 {padding:0}
.home .col-xs-3 p {color:#808080;text-align:center;font-size:14px;line-height:26px;}
.home .col-xs-3 i {display:block;margin:0 auto;width:50px;height:50px;position:relative;background-image:url(../img/home_icon.png);}
.home .col-xs-3 i span {display:none;background:#e60012;position:absolute;top:2px;right:0;width:18px;height:18px;color:#fff;font-size:12px;text-align:center;line-height:18px;border-radius:50%;}
	.daifukuan {background-position:0px 0px;}
	.daishiyong {background-position:-47px 0px;}
	.daipingjia {background-position:-89px 0px;}
	.daishouhou {background-position:-133px 0px;}

.order_list .ui-list {background:#fff; margin-top:10px;}
.order_list .ui-list>li {position:relative;}
.order_list .ui-list>li>p {width:82%;font-size:14px;color:#808080;}
.order_list .ui-list>li>.state {width:18%;color:#e60012;font-size:14px;text-align:right;padding-right:2%;}
.order_list .ui-list>li>.price {position:absolute;top:14px;right:10px;}
.order_list .ui-list>li>.pay {position:absolute;bottom:16px;right:10px;width:54px;height:26px;line-height:26px;text-align:center;background:#ff5640;color:#fff;border-radius:2px;}
.order_list .ui-list>li>.assess {position:absolute;bottom:16px;right:10px;width:54px;height:26px;line-height:26px;text-align:center;border:1px solid #ff5640;color:#ff5640;border-radius:2px;}
.order_list .ui-list>li .ui-list-img {margin:0 6px 0 0;width:72px;height:72px;}
.order_list .ui-list>li .ui-list-info {padding:0 54px 0 6px;}
.order_list .ui-list>li .ui-list-info>p {text-align:left;}
.order_list .ui-list>li .ui-list-info>p>span {margin-right:8px;color:#808080;}

.ui-btn-wrap {padding:10px 15px;}

.code {height:153px;width:90%;margin:0 5%;background:url(../img/couponred.png) no-repeat;background-size:cover;line-height:1.5em;}
.code h3 {color:#e60012;font-size:18px;line-height:2em;}
.code h4 {font-size:12px;}
.code h5 {color:#808080;font-size:12px;}
.coded {height:153px;width:90%;margin:0 5%;background:url(../img/coupongrey.png) no-repeat;background-size:cover;line-height:1.5em;color:#808080;}
.coded h3 {font-size:18px;line-height:2em;}
.coded h4 {font-size:12px;}
.coded h5 {font-size:12px;}

.star{width: 100%;height:44px;line-height:44px;padding-left: 80px;-webkit-box-sizing: border-box;box-sizing: border-box;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;position:relative;}
#star-1,#star-2,#star-3{position:relative;height:20px;width:120px;margin-top:10px;position:relative;background:url(../img/123.png) repeat-x;cursor:pointer}
.star li{float:left;padding:0px;margin:0px}
.star li a{display:block;width:24px;height:20px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
.star li a:hover{background:url(../img/123.png) 0 -25px repeat-x;z-index:3;left:0}
.star a.one-star{left:0}
.star a.one-star:hover{width:24px}
.star a.two-stars{left:24px}
.star a.two-stars:hover{width:48px}
.star a.three-stars{left:48px}
.star a.three-stars:hover{width:72px}
.star a.four-stars{left:72px}
.star a.four-stars:hover{width:96px}
.star a.five-stars{left:96px}
.star a.five-stars:hover{width:120px}
.star .current-rating{background:url(../img/123.png) 0 -25px repeat-x;position:absolute;height:20px;;margin-top:10px;z-index:1;top:0;left:80px;}
.description-1,.description-2,.description-3 {clear:both;position:absolute;top:0;right:0;display:/*none*/;}
textarea.evaluation {width:90%;margin:0 5% 10px 5%;background:#fff;line-height:24px;height:96px;}

.coupon-list li {margin:0px;}
.coupon-list li .coupon {margin:10px 5%;width:90%;height:116px;background:url(../img/couponred.png) no-repeat;background-size:cover;display:-webkit-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#333;}
.coupon-list li .couponed {margin:10px 5%;width:90%;height:116px;background:url(../img/coupongrey.png) no-repeat;background-size:cover;display:-webkit-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#808080;}
.coupon-list li .exp {display:-webkit-box;height:100%;padding-left:30px;width:65%;-webkit-box-orient: vertical; -webkit-box-pack: center;}
.coupon-list li .yen {display:-webkit-box;height:100%;width:35%;-webkit-box-orient: vertical; -webkit-box-pack: center;-webkit-box-align: center;text-align: center;}
.coupon-list li h3 {width:100%;height:40px;font-weight:bold;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.coupon-list li p {color:#808080;font-size:12px;}
.coupon-list li .yen p {font-size:20px;line-height:40px;color:#fa709a;}
.coupon-list li .couponed .yen p {color:#808080;}
.coupon-list li .yen p>span {font-size:30px;margin-left:6px;}
.coupon-list li .yen>div {width:80px;height:28px;line-height:27px;font-size:12px;border:1px solid #fff;border-radius:2px;}
.coupon-list li .coupon .yen div {color:#fa709a;}
.coupon-range li .ui-list-img {margin:0;}
.coupon-range li .ui-list-info {padding:4px 0 4px 15px;}
.coupon-range li .ui-list-info>p {text-align:left;margin-top:10px;}
.coupon-range li .ui-list-info>p>span {color:#e60012;margin-right:10px;}
.coupon-range li .ui-list-info>p>span>b {font-weight:normal;font-size:18px;}
.coupon-range li .ui-list-info del {color:#808080;}

.sure-sub,.no-sub{
	display:none;
}

.free-buy .ui-form-item {padding-right:15px}
.ui-list-link li:after, li.ui-list-item-link:after {right:6px;}


.ui-btn-red {background:#ff5640;color:#fff;}
.ui-list{margin-bottom: 10px;}
.mt-10 {margin-top: 10px;}
.mb-0 {margin-bottom: 0px;}
.mb-10 {margin-bottom: 10px;}
.md-58 {margin-bottom: 58px;}
.text-center {text-align:center;}


.mall-head {display:block; margin-bottom:10px;}
.mall-head .hosimg {width:100%;z-index:0;}
.mall-head .hosimg img {width:100%;display:block;}
.mall-head .logo {position:absolute;left:10px;top:-34px; line-height:0;z-index:10;}
.mall-head .logo img {width:68px; height:68px; border:2px #fff solid;}
.mall-head h3 {background:#fff;width:100%;padding-left:82px; line-height:32px;height:35px;}
.mall-head h3 span {padding:0 3%; color:#999; font-size:12px;}
@media (max-width: 361px) {.mall-head h3 span {padding:0 2px; color:#999; font-size:12px;}}
.mall-head h1 {background:#fff;padding:0 12px;width:100%;font-size:16px;line-height:36px;height:36px;}
.mall-head h1 font {display:block; float:left;max-width:80%;height:36px; overflow:hidden; margin-right:6px;}
.mall-head h1 font.icon {font-size:12px;margin:8px 0; width:48px;line-height:20px;height:20px;background:#f89406;color:#fff; text-align:center;border-radius:4px;}
.mall-head .label {background:#fff;padding:0 2% 2% 2%;height:auto;width:100%;text-align:left;display:block;white-space:normal;}
.mall-head .label font, .mall-head .label>span {margin:5px 2%;border-radius:4px;border:1px solid currentcolor;color:#00a5e0;height:20px;line-height:20px;padding:0 4px;font-size:12px;font-weight:normal;display:inline-block;}
.mall-head .mallinfo {position:relative;bottom:0;left:0;height:auto;width:100%;}

.ui-tab-nav li {min-width: 60px;}
.ui-scroller,.ui-scroller-hos ,.ui-scroller-list  {width:auto;height:90%;overflow:hidden;}
.ui-scroller>ul>li,.ui-scroller-hos>ul>li,.ui-scroller-list>ul>li { padding:10px 5px 66px 5px;}
.tab-top {top:0;position:absolute;}
.ui-tab-content {margin-top:45px;height:100%}
.ui-tab {background:#fff;position:relative;width: 100%;height:68%;overflow: hidden;}
.ui-tab-content{
	display: -webkit-box;
	width: 300%;
 }
.ui-tab-content > li {
	-webkit-box-flex: 1;
	width: 100%;
	height: 100%;
}
.ui-tab .row {margin: 0 10px;padding-top:10px;}
.ui-tab .ui-scroller .col-xs-3 {padding:0 5px;}
.ui-tab .thumbnail {border:0;margin-bottom:10px;}
.ui-tab .thumbnail h5 span,.ui-tab .thumbnail h5 font {font-size:14px; width:100%; display:block; text-align:center; line-height:1.6em;}
.ui-tab .thumbnail h5 span {color:#008de6}
.ui-tab .thumbnail h5 font {color:#999;font-size:12px;}
.textapp {margin-top:5px;font-size:12px;line-height:17px;color:#fff;padding-left:5%;}
.btn.mt-5 {padding: 6px 20%;}


.tuan_list .ui-list {background:none;}
.tuan_list .ui-list>li {margin:10px 0 0 0;background:#fff;position:relative;}
	.aggressive {position:absolute;top:0; right:0;background:url(../img/aggressivebg.png) no-repeat;width:70px;padding-left:24px;height:24px;line-height:24px;text-align:right;color:#fff;}
	.aggressive span {margin-right:6px;}
	.ui-list-img {margin:10px 15px; width:100px; height:100px; overflow:hidden;}
	.ui-list-img img {width:100%;}
	.ui-list-info {padding:10px 18px 10px 0;-webkit-box-pack:start;}
	.tuan_list .ui-list-info>h5 {font-size:12px;line-height: 20px;margin-bottom:4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 78%; color: gray;}
	.tuan_list .ui-list-info>h4 {line-height:24px;color:#333; height:48px;margin-bottom:4px;white-space:pre-wrap;}
	.ui-list-info>p {text-align:right;color:#333;}
	.ui-list-info>p .real {color:#e60012;font-size:16px; margin-right:8px;}
	.ui-list-info>p .generic {color:gray;}
.free_list .ui-list {background:none;}
.free_list .ui-list>li {margin:10px 0 0 0;background:#fff;position:relative;}
	.free_list .ui-list-info>h5 {font-size:12px;line-height: 20px;margin-bottom:4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 60%; color: gray;}
	.free_list .ui-list-info>h4 {line-height:24px;color:#333; height:48px;margin-bottom:4px;white-space:pre-wrap;}
	.free_1 {background:url(../img/freeb.png) no-repeat;width:106px;}
	.free_2 {background:url(../img/freer.png) no-repeat;width:106px;}
	.free_2 i {background:url(../img/notime.png) no-repeat;background-size:cover;width:12px;height:12px;display:block;position:absolute;top:6px;left:26px;}
	.free_3 {background:url(../img/freeh.png) no-repeat;width:106px;}

.goods-head {background:#fff;margin-bottom:10px;}
	.goods-head .ui-slider {padding-top:100%;z-index:0;}
	.goods-head .ui-slider>div {position:absolute;bottom:0;left:0;width:100%;height:30px;line-height:30px;color:#fff;padding:0 15px;}
	.goods-head .ui-slider div font {margin-left:4px;font-size:12px;}
	.goods-head .ui-slider .acting {background:#ff644e;}
	.goods-head .ui-slider .act {background:#54b9f1;}
	.goods-head .ui-slider .acted {background:#999;}
	.ui-slider-content {width:auto;}
	.goods-head .ui-slider-content>li>img {width:100%;}
	.free-goods .ui-slider-indicators {bottom:30px;}
	.ui-slider-indicators li {margin-right:6px;}
	.goods-head h1 {margin:8px 15px;font-size:16px;}
	.goods-head p {padding:0 15px 8px 15px;}
	.goods-head p.mt {margin-top:8px;}
	.goods-head p b {color:#e60012;font-size:18px;margin-right:10px;}
	.goods-head p del {color:#808080;}
	.goods-head p span {padding-right:20px; color:#808080; font-size:12px;}
	.goods-head .headbd {height:30px;padding:0 15px;color:#808080; font-size:12px;}
	.goods-head .headbd i {background:url(../img/checkbox.png) no-repeat;background-size:cover;width:12px;height:12px;display:block;position:absolute;top:3px;left:0;}
	.goods-head .headbd .col-xs-3 {position:relative; padding-left:14px;}

.free-goods .ui-list li>.list-right {position:absolute;right:30px;top:12px;}
.free-goods .ui-list li>.font-right {margin-right:-20px;}
.free-goods .ui-list li span {color:#808080;font-size:14px; margin-left:6px;}
	.doctorpd {height:60px;overflow:hidden;}
	.doctorpd .ui-list-thumb {width:40px;height:40px;margin:0 6px 0 0;}
	.doctorpd .ui-list-thumb img {width:100%;}
	.doctorpd>li {padding:10px 0 10px 10px;margin:0;}
	.doctorpd>li>.ui-list-info {padding:0;}
	.doctorpd>li>.ui-list-info>h3 {font-size:14px;line-height:22px;overflow:hidden;height:22px;}
	.doctorpd>li>.ui-list-info>p {font-size:12px;text-align:left;color:#808080;line-height:18px;}
	.hosdb .ui-list-thumb {width:70px; height:70px;}
	.hosdb .ui-list-thumb img {width:100%;}
	.hosdb .ui-list-info>p {text-align:left;}
	.hosdb .ui-list-info>p>span {margin:0;}
	.hosdb .label {background:#fff;width:100%;height:24px;overflow:hidden;display:block;}
	.hosdb .label font {margin:2px 4% 2px 0;float:left;display:block;border-radius:2px;border:1px solid #00a5e0;color:#00a5e0;height:20px;line-height:19px;padding:0 4px;font-size:12px;font-weight:normal;}
	
	.fansdb .ui-list-info>p {text-align:left;color:#808080;padding:2px 0;}
	.fansdb .ui-list-info>p>span {margin:0;} 
	.fansdb .ui-list-info>.fanstext {line-height:18px; height:36px;white-space:normal;-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;}
	.fansdb .ui-list-info>.fanslisttext {line-height:18px; height:auto;white-space:normal;}
	.fansdb .ui-list-info>.fansphoto {height:auto;margin-bottom:2px;padding-top:2px;}
	.fansdb .ui-list-info>.fansphoto .col-xs {width:23%;margin:10px 1% 0 1%;height:0;padding-bottom:23%;text-align:left;overflow:hidden;display:block;float:left;position:relative;}
	.fansdb .ui-list-info>.fansphoto .col-xs img {width:100%;position:absolute;}
.free-goods .ui-btn-group-bottom button {color:#fff;background:#ff6a55;font-weight:500;font-size:16px;font-family:"Microsoft YaHei";letter-spacing:0.2em}
.free-goods .col-xs-3 img {width:100%;}
.free-goods .hos-int {width:100%;padding:12px 10px;-webkit-box-flex: 1;box-flex:1;padding-right:20px;display:box;display:-webkit-box;-webkit-box-pack:center;background:#fff;}
.free-goods .hos-txt {width:100%;color:#808080;padding:0 15px 10px 15px;margin-bottom:10px;background:#fff;}
.free-goods .hos-txt p {line-height:22px;-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical;overflow:hidden;}
.free-goods .ui-list-info>h4, .tuan-goods .ui-list-info>h4 {height:24px;-webkit-line-clamp:1;}

.tuan-goods .ui-slider-indicators {bottom:10px;}
.tuan-goods .ui-list li>.list-right {position:absolute;right:30px;top:12px;}
.tuan-goods .ui-list li>.font-right {margin-right:-20px;}
.tuan-goods .ui-list li span {color:#808080;font-size:14px; margin-left:6px;}
.tuan-goods .ui-btn-group-bottom button {color:#fff;background:#ff6a55;font-weight:500;font-size:16px;font-family:"Microsoft YaHei";letter-spacing:0.2em}

.doc_list .ui-list-img {width:80px; height:80px;margin:10px 15px 10px 0px;}
.doc_list .ui-list-img img {border-radius:50%;}
.doc_list .ui-list-info h3 {line-height:26px;}
.doc_list .ui-list-info h4 {line-height:28px;height:30px;font-size:12px;color:#808080;-webkit-line-clamp:1;}
.doc_list .ui-list-info h3 font {padding-right:54px;position:relative;}
.doc_list .ui-list-info h4>span {margin-right:8px;}
.doc_list .ui-list-info .renzheng {font-size:12px;position:absolute;top:0;right:4px;display:block;width:46px;height:18px;line-height:18px;text-align:center;background:#5fcdb9;color:#fff;border-radius:2px;}
.doc_list .ui-list-info .label {background:#fff;width:100%;height:24px;overflow:hidden;display:block;padding:0;}
.doc_list .ui-list-info .label font {margin:2px 4% 2px 0;float:left;display:block;border-radius:2px;border:1px solid #00a5e0;color:#00a5e0;height:20px;line-height:19px;padding:0 4px;font-size:12px;font-weight:normal;}
.doc_list .ui-list-info p {text-align:left;}

.map .ui-form-item {height:auto;font-size:14px;}
.map .ui-form-item label:not(.ui-switch):not(.ui-checkout):not(.ui-radio) {width: 80px;color:#808080;}
.map .ui-form-item p {width: 100%;padding-left: 80px;-webkit-box-sizing: border-box;box-sizing: border-box;white-space:normal;}
.map .ui-form-item p span {color:#e60012}
.map .ui-form-item input:not([type=checkbox]) {padding-left:80px;}
.map .ui-form-item img {max-width:100%;}

.coupon {background:#fff;height:100%;position:absolute;}
.coupon i {display:block;width:100px;height:90px;background:url(../img/nocoupon.png) no-repeat;background-size:cover;}
.coupon>p {color:#808080;line-height:3em;}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .5;
}